//Typography
// --------------------------
$base-font-size:              rem-calc(18);
$body-font-family:            'Kanit', Helvetica, sans-serif;
$header-font-family: 					$body-font-family;

$global-radius: 3px !default;

//Colors
$dark-gray:                    #313131;